@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
}

#main{
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#nav{
  height: 100px;
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

#nav-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
}

#nav h3{
  font-size: 17px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
}
#nav i{
  font-size: 17px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 50%;
}

#nav h1{
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

#nav button{
  padding: 7px 12px;
  border-radius: 50px ;
  border: 1.5px solid #000;
  font-size: 16px;
  font-weight: 600;
}

#nav #btn2 {
  border: none;
  background-color: orangered;
  color: white ;
}

#main > h1 {
  font-size: 180px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

img{
  height: 500px;
  width: 400px;
  object-fit: cover;
  /* background size cover explore that as well */
  object-position:top ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 28px;
}

#img1{
  transform: translate(-50%,-50%) rotate(-32deg);
}
#img2{
  transform: translate(-50%,-50%) rotate(-24deg);
}
#img3{
  transform: translate(-50%,-50%) rotate(-16deg);
}
#img4{
  transform: translate(-50%,-50%) rotate(-8deg);
}

#btm-left{
  position: absolute;
  bottom: 5%;
  left:3%;
  font-size: 17px;
}